


<div class="projects">

	@foreach (var projekt in ViewBag.Projekty)
	{
		
	<div class="project">
		<h2>@projekt.Nazwa</h2>
		<img src="@projekt.Obrazek" />
		<p> @projekt.Opis </p>
		<p>
				@foreach (var tech in projekt.Technologie.Split(","))
				{
					<i>#@tech</i>
				}
		</p>
	</div>
	}

</div>