@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sarina&family=Tiny5&display=swap');

:root {
    --primary-100: #ffedd8;
    --primary-200: #f3d5b5;
    --primary-300: #e7bc91;
    --primary-400: #d4a276;
    --primary-500: #bc8a5f;
    --primary-600: #a47148;
    --primary-700: #8b5e34;
    --primary-800: #6f4518;
    --primary-900: #603808;
    
    --bodyFontColor: var(--primary-900);
    --backgroundColor: var(--primary-100);
    
    --bodyFontFamily: "Lato", serif;
    --headerFontFamily: "Sarina", cursive;
    --specialFontFamily: "Tiny5", sans-serif;
}

body 
{
    color: var(--bodyFontColor);
    background-color: var(--backgroundColor);
    font-family: var(--bodyFontFamily);
    margin: 0;
}

h1, h2, h3, h4, h5 
{
    font-family: var(--headerFontFamily);
    margin: 0;
}

/* Panel nawigacyjny */
.navbar 
{
   
    display:flex;
    justify-content: center;
}

.nav-center
{
   
    width: 90vw;
}

.nav-header
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.btn
{
    background-color: var(--primary-500);
    color: white;
    border: transparent;
    padding: 0.4rem 0.75rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.nav-btn i 
{
    font-size: 1.3rem;
}

.nav-header img 
{
    height: 5rem;
}

.nav-links 
{
    display: flex;
    flex-direction: column;

    height:0;
    overflow: hidden;

    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.show-links
{
    height: 300px;
}

.nav-link 
{
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.3rem;
    color: var(--bodyFontColor);
    letter-spacing: 1px;
    border-top: 1px solid var(--primary-500);
}

.nav-link:hover
{
    color: var(--primary-300);
}

.nav-links a 
{
    text-decoration: none;
}

@media screen and (min-width: 750px)
{
    .nav-btn
    {
        display: none;
    }

    .nav-links 
    {
        height: auto;
        flex-direction: row;
        justify-content: left;
        width: 100%;
    }

    .nav-center 
    {
        display: flex;
        align-items: center;
        max-width: 1280px;
    }

    .nav-link
    {
        border-top: none;
        margin-right: 1rem;
    }

    .nav-header {
        margin-right: 2rem;
    }

    .contact-link {
        margin-right: 0;
        margin-left: auto;
    }
}


.main-page 
{
    width: 90vw;
    height: calc(100vh - 5rem - 3.5rem);
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.page-footer
{
    height: 3.5rem;
    background-color: var(--primary-800);
    color: white;
    font-family: var(--headerFontFamily);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}